<section class="home" style="height : 600px"
         xmlns:v-b-tooltip="http://www.w3.org/1999/xhtml"
         xmlns:v-bind="http://www.w3.org/1999/xhtml"
         xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card card-dark-grey">
        <div class="card-header">
          <span class="pull-left"><i class="fa fa-cog"></i></span>Filter
        </div>
        <div class="card-body">
          <div class="row" >
            <div class="col-6" v-for="(key,value) in filters">
              <div class="form-group">
                <label for="category">{{value}}</label>
                <select name="title" class="form-control" id="category" v-model="filters[value]">
                  <option value="">-- All --</option>
                  <option v-for="filter in getListOfDropDownItems(value)" v-bind:value="filter">{{filter}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8" >
      <div class="card card-light-grey">
        <div class="card-header">
          <span class="pull-left"><i class="fa fa-list"></i></span>{{filteredFeatures.length}} Records
        </div>
        <div class="card-body" id="map-container">
          <MglMap container="map-container"
                  :accessToken="accessToken"
                  :mapStyle.sync="mapStyle"
                  :zoom="zoom"
                  :center="center">
            <MglAttributionControl></MglAttributionControl>
            <MglNavigationControl position="bottom-left"></MglNavigationControl>
            <MglGeolocateControl position="top-right"></MglGeolocateControl>
            <MglScaleControl></MglScaleControl>
            <MglMarker :coordinates="feature.geometry.coordinates" :color="feature.properties.color" v-for="feature in filteredFeatures" :key="feature.properties.id">
              <MglPopup>
                <div class="card">
                  <div class="card-header"><i class="fa fa-info-circle"></i> Information </div>
                  <div class="card-body">
                    <strong>ID : {{feature.properties.id}}<br>
                      Title : {{feature.properties.project.Title}}<br>
                      Address : {{feature.properties.project.Address}}<br>
                      <template  v-for="(key,value) in filters">
                        {{value}} : {{feature.properties.project[value]}}<br>
                      </template></strong>
                  </div>
                </div>
              </MglPopup>
            </MglMarker>
          </MglMap>
        </div>
      </div>
    </div>
  </div>
</section>
