<section class="home"
         xmlns:v-b-tooltip="http://www.w3.org/1999/xhtml"
         xmlns:v-bind="http://www.w3.org/1999/xhtml"
         xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div class="row">
    <div class="col-12">
      <vue-form :state="signUpMobileFormState" @submit.prevent="submitSignUpMobileForm()">
        <div class="row mb-2">
          <div class="col-4 text-left">
            <img src="/static/images/trabr.png" alt="Logo" class="logo-img">
          </div>
          <div class="col-8 text-left">
            <h3>Sign up</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <validate tag="">
                <input type="text" name="mobile" required
                       class="form-control" id="mobile"
                       placeholder="Mobile No"
                       v-model="signUpMobileForm.mobile" maxlength="10">
                <field-messages name="mobile" show="$touched">
                  <div slot="required" class="alert alert-danger form-inline-error text-left">Please enter mobile number</div>
                  <div slot="maxlength" class="alert alert-danger form-inline-error text-left">Mobile number cannot be more than 10 characters</div>
                </field-messages>
              </validate>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <validate tag="">
                <input type="text" name="password" required
                       class="form-control" id="password"
                       placeholder="Password"
                       v-model="signUpMobileForm.password" minlength="6">
                <field-messages name="password" show="$touched">
                  <div slot="required" class="alert alert-danger form-inline-error text-left">Please enter password</div>
                  <div slot="minlength" class="alert alert-danger form-inline-error text-left">Password must be more than 6 characters</div>
                </field-messages>
              </validate>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <validate tag="">
                <input type="text" name="reEnterPassword" required
                       class="form-control" id="reEnterPassword"
                       placeholder="Confirm Password"
                       v-model="signUpMobileForm.reEnterPassword">
                <field-messages name="reEnterPassword" show="$touched">
                  <div slot="required" class="alert alert-danger form-inline-error text-left">Please re-enter password</div>
                </field-messages>
              </validate>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary mt-2 full-width" v-bind:disabled="signUpMobileFormState.$invalid">Sign up</button>
          </div>
        </div>
      </vue-form>
    </div>
  </div>
</section>
